<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>专家个人中心</title>
		<link rel="stylesheet" href="css/960.css" type="text/css" media="screen" charset="utf-8" />
		<!--<link rel="stylesheet" href="css/fluid.css" type="text/css" media="screen" charset="utf-8" />-->
		<link rel="stylesheet" href="css/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/colour.css" type="text/css" media="screen" charset="utf-8" />
		<script src='js/main.js'></script>
	<script>
		function expert_exit()
		{
			{
			var xmlhttp;

			if (window.XMLHttpRequest)
			  {
			  xmlhttp=new XMLHttpRequest();
			  }
			else
			  {
			  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			  }
			xmlhttp.onreadystatechange=function()
			  {
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
				{
				 alert("退出成功");
				 location.href='index.php';
				}
			  }
			xmlhttp.open("POST","back.php",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send("cmd=exit");
			}
		}
	</script>
	</head>
	<body>
		
		<h1 id="head">专家个人中心</h1>
		
		<ul id="navigation">
			<li><span class="active">Overview</span></li>
			<li><a href="birdeye.php">总览</a></li>
			<li><a href='#'  onclick='expert_exit()' id='mec'>退出</a></li>
		</ul>
		
			<div id="content" class="container_16 clearfix">
				<label>专家,{$name}你好</label>

				<div class="grid_16">
					<table>
						<thead>
							<tr>
								<th>患者姓名</th>
								<th>身份证</th>
								<th>年龄</th>
								<th>联系方式</th>
								<th>预约日期</th>
								<th colspan="2" width="10%">Actions</th>
							</tr>
						</thead>
						<tbody>
							{section name=loop loop=count($News)}
							<tr>
							<td>{$News[loop].na}</td>
							<td>{$News[loop].id}</td>
							<td>{$News[loop].ag}</td>
							<td>{$News[loop].phone}</td>
							<td>{$News[loop].da}</td>
							<td><a href="#" class="confirm" name="confirm" onclick="confirm('{$News[loop].name}','{$News[loop].date}','{$News[loop].time}')" class="confirm">Confirm</a></td>
							<td><a href="#" class="delete" name="delete" onclick="del('{$News[loop].name}','{$News[loop].date}','{$News[loop].time}')" class="delete">Delete</a></td>
							
							</tr>
							{sectionelse}
							对不起，没有任何病人信息！
							{/section}
						</tbody>
					</table>
				</div>
			</div>
				
		</div>
	</body>
</html>