<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>挂号信息</title>
		<link rel="stylesheet" href="css/960.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/colour.css" type="text/css" media="screen" charset="utf-8" />
		
		<script type="text/javascript">
		window.setInterval("loadXMLDoc()",2000);
		function loadXMLDoc()
		{
		var xmlhttp;
		if (window.XMLHttpRequest)
		  {
		  xmlhttp=new XMLHttpRequest();
		  }
		else
		  {
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
			xmlhttp.onreadystatechange=function()
		  {
		  if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				document.getElementById("online").innerHTML=xmlhttp.responseText;
			}
		  }
		xmlhttp.open("POST","online.php",true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send("type={$type}");
		}
		</script>



	</head>
	<body>

		<h1 id="head">挂号信息</h1>

		<ul id="navigation">
			<li><span class="active">Overview</span></li>
			<li><a href ="index.php">返回</a></li>
		</ul>
		
		<div id="content" class="container_16 clearfix">
			{$content}
			<div id="online"></div> <br/>

		</div>

		
	</body>
</html>