<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>预约总览</title>
		<link rel="stylesheet" href="css/960.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/colour.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>

		<h1 id="head">用户个人中心</h1>

		<ul id="navigation">
			<li><span class="active">Overview</span></li>
			<li><a href="change_user.php">修改个人资料</a></li>
			<li><a href="history.php">查看预约历史</a></li>
			<li><a href="index.php">返回</a></li>
		</ul>
		
		<div id="content" class="container_16 clearfix">
			{$content}


		</div>

		
	</body>
</html>